{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Книги 2023</h1>
<a href="/add-cooment/"> оставить отзыв</a>
<a href="/create_book/">Добавить</a>
<form action="{% url 'search' %}" method="GET" class="d-flex" role="search">
    <input class="form-control me-2" type="text" name="q" type="search" placeholder="Поиск" aria-label="Поиск">
    <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
    <ul>
        {%for i in object_list%}
        <li>
            <h1>{{i.title}}</h1>
            <p>{{i.created_date}}</p>
            <button><a href="/book_detail/{{i.id}}">Далее</a></button>
        </li>
        {% endfor %}
    </ul>
</body>
</html>